Repository WordPress/wporg-mu-plugins, pull requests merged in 2022-11, with the labels that each got.

#299 Tools: Try adding infrastructure for PHPUnit tests
  .github/workflows/tests.yml
  .wp-env.json
  composer.json
  composer.lock
  package.json
  phpunit.xml.dist
  phpunit/bootstrap.php
  phpunit/test-demo-test.php
Labels: [Type] Developer Experience

#302 Header: Update spacing around logo, menus, buttons
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/header.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/logos.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/menu.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/search.pcss
Labels: [Block] Header & Footer

#297 Split out the *-ext subsets
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/global-fonts/README.md
  mu-plugins/global-fonts/helper-functions.php
  mu-plugins/global-fonts/index.php
Labels: [Type] Bug, [Plugin] Global Fonts

#298 Preload required font subsets for rosetta sites
  mu-plugins/blocks/global-header-footer/blocks.php
Labels: [Type] Enhancement, [Plugin] Global Fonts
