Repository WordPress/wporg-mu-plugins, pull requests merged in 2022-08, with the labels that each got.

#225 Add variations for header & footer styles
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/blocks/global-header-footer/footer.php
  mu-plugins/blocks/global-header-footer/header.php
  mu-plugins/blocks/global-header-footer/images/code-is-poetry-for-light-bg.svg
  mu-plugins/blocks/global-header-footer/images/search-for-light-bg.svg
  mu-plugins/blocks/global-header-footer/js/view.js
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/footer/logos.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/get-wordpress.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/header.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/logos.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/menu.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/search.pcss
  mu-plugins/blocks/global-header-footer/src/footer/block.json
  mu-plugins/blocks/global-header-footer/src/footer/index.js
  mu-plugins/blocks/global-header-footer/src/header/block.json
  mu-plugins/blocks/global-header-footer/src/header/index.js
Labels: Header & Footer

#230 Remove `theme.json` dependency
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/blocks/global-header-footer/classic-header.php
  mu-plugins/blocks/global-header-footer/footer.php
  mu-plugins/blocks/global-header-footer/header.php
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/get-wordpress.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/logos.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/search.pcss
Labels: Header & Footer

#245 Block: Multisite Latest Posts: Move view script to footer
  mu-plugins/blocks/multisite-latest-posts/multisite-latest-posts.php
Labels: [Block] MU Latest Posts

#244 Latest Posts: Decode HTML entities in titles.
  mu-plugins/blocks/multisite-latest-posts/src/block.js
Labels: [Block] MU Latest Posts

#254 Remove forked Gutenberg nav block styles for sub menus
  mu-plugins/blocks/global-header-footer/postcss/header/menu.pcss
Labels: [Block] Header & Footer

#255 Reduce font sizes
  bin/font-subset.js
  mu-plugins/global-fonts/EB-Garamond/EB-Garamond-Italic.woff2
  mu-plugins/global-fonts/EB-Garamond/EB-Garamond.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-cyrillic-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-cyrillic.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-greek-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-greek.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-latin-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-latin.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-Italic-vietnamese.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-cyrillic-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-cyrillic.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-greek-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-greek.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-latin-ext.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-latin.woff2
  mu-plugins/global-fonts/EB-Garamond/EBGaramond-vietnamese.woff2
  mu-plugins/global-fonts/Inter/Inter-Italic.woff2
  mu-plugins/global-fonts/Inter/Inter-cyrillic-ext.woff2
  mu-plugins/global-fonts/Inter/Inter-cyrillic.woff2
  mu-plugins/global-fonts/Inter/Inter-greek-ext.woff2
  mu-plugins/global-fonts/Inter/Inter-greek.woff2
  mu-plugins/global-fonts/Inter/Inter-latin-ext.woff2
  mu-plugins/global-fonts/Inter/Inter-latin.woff2
  mu-plugins/global-fonts/Inter/Inter-vietnamese.woff2
  mu-plugins/global-fonts/Inter/Inter.woff2
  mu-plugins/global-fonts/README.md
  mu-plugins/global-fonts/style.css
  package.json
Labels: [Type] Enhancement, [Plugin] Global Fonts
