Repository WordPress/wporg-mu-plugins, pull requests merged in 2023-09, with the labels that each got.

#437 Fix/325 responsive breadcrumb
  mu-plugins/blocks/site-breadcrumbs/postcss/style.pcss
Labels: [Block] Site Breadcrumbs, Redesign

#443 Add navigation block
  mu-plugins/blocks/navigation/index.php
  mu-plugins/blocks/navigation/src/block.json
  mu-plugins/blocks/navigation/src/index.js
  mu-plugins/loader.php
Labels: [Block] New Block, Redesign

#441 New block: Query filter
  mu-plugins/blocks/query-filter/index.php
  mu-plugins/blocks/query-filter/postcss/style.pcss
  mu-plugins/blocks/query-filter/render.php
  mu-plugins/blocks/query-filter/src/block.json
  mu-plugins/blocks/query-filter/src/index.js
  mu-plugins/blocks/query-filter/src/view.js
  mu-plugins/loader.php
Labels: [Block] New Block, Redesign

#444 Block: Query Filters: Enable single-select options in filter block
  mu-plugins/blocks/query-filter/postcss/style.pcss
  mu-plugins/blocks/query-filter/render.php
  mu-plugins/blocks/query-filter/src/block.json
  mu-plugins/blocks/query-filter/src/view.js
Labels: Redesign

#439 Responsive breadcrumbs
  mu-plugins/blocks/site-breadcrumbs/postcss/style.pcss
Labels: Redesign

#449 Block: Query Filter: Design & accessibility fixes
  mu-plugins/blocks/query-filter/postcss/style.pcss
  mu-plugins/blocks/query-filter/render.php
  mu-plugins/blocks/query-filter/src/view.js
Labels: Accessibility, [Block] Query Filter
