Repository WordPress/wporg-mu-plugins, pull requests merged in 2023-10, with the labels that each got.

#455 Global Footer: Switch multiple nav blocks to lists inside a nav wrapper.
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/blocks/global-header-footer/footer.php
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/footer/footer.pcss
Labels: Accessibility, [Block] Header & Footer

#454 Global Header/Footer: Hide the arrow emoji for screen reader users
  mu-plugins/blocks/global-header-footer/blocks.php
Labels: Accessibility, [Block] Header & Footer

#461 Change Twitter icon to X (v2)
  mu-plugins/blocks/global-header-footer/footer.php
Labels: [Block] Header & Footer

#473 Query filters: Fix scrollbar overlaying dropdown menu
  mu-plugins/blocks/query-filter/src/view.js
Labels: [Type] Bug, [Block] Query Filter

#464 Global footer: Update footer menu items
  mu-plugins/blocks/global-header-footer/footer.php
Labels: [Block] Header & Footer

#480 Add filter to replace local nav bar mobile menu icon
  mu-plugins/blocks/local-navigation-bar/index.php
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
Labels: Redesign, [Block] Local Navigation Bar

#458 Global header: Update navigation menu items
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/blocks/global-header-footer/header.php
  mu-plugins/blocks/global-header-footer/js/view.js
  mu-plugins/blocks/global-header-footer/postcss/header/menu.pcss
Labels: [Block] Header & Footer

#484 Make top margin of sidebar container configurable via theme.json
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/src/view.js
Labels: Redesign, [Block] Sidebar Container

#489 Latest News block: Add support for cards style and popular categories
  mu-plugins/blocks/latest-news/latest-news.php
  mu-plugins/blocks/latest-news/postcss/style.pcss
  mu-plugins/blocks/latest-news/src/block.json
  mu-plugins/blocks/latest-news/src/edit.js
Labels: [Block] Latest News, Redesign
