Repository WordPress/wporg-mu-plugins, pull requests merged in 2023-11, with the labels that each got.

#466 Global Header: Try unsticking the global header, making local navigation sticky
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/get-wordpress.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/header.pcss
  mu-plugins/blocks/local-navigation-bar/index.php
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/local-navigation-bar/render.php
  mu-plugins/blocks/local-navigation-bar/src/block.json
  mu-plugins/blocks/local-navigation-bar/src/view.js
  mu-plugins/blocks/site-breadcrumbs/postcss/style.pcss
Labels: [Block] Header & Footer, Redesign

#495 Revert "Revert "Global Header: Try unsticking the global header, maki…
  mu-plugins/blocks/global-header-footer/postcss/_common.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/get-wordpress.pcss
  mu-plugins/blocks/global-header-footer/postcss/header/header.pcss
  mu-plugins/blocks/local-navigation-bar/index.php
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/local-navigation-bar/render.php
  mu-plugins/blocks/local-navigation-bar/src/block.json
  mu-plugins/blocks/local-navigation-bar/src/view.js
  mu-plugins/blocks/site-breadcrumbs/postcss/style.pcss
Labels: Redesign

#502 Add Anton font
  fonts/Anton-Regular.ttf
  mu-plugins/global-fonts/Anton/Anton-Regular-arrows.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-cyrillic-ext.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-cyrillic.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-greek-ext.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-greek.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-latin-ext.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-latin.woff2
  mu-plugins/global-fonts/Anton/Anton-Regular-vietnamese.woff2
  mu-plugins/global-fonts/index.php
  mu-plugins/global-fonts/style.css
Labels: [Plugin] Global Fonts

#503 Add Newsreader font
  fonts/Newsreader-Italic.ttf
  fonts/Newsreader.ttf
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-arrows.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-cyrillic-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-cyrillic.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-greek-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-greek.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-latin-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-latin.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-Italic-vietnamese.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-arrows.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-cyrillic-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-cyrillic.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-greek-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-greek.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-latin-ext.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-latin.woff2
  mu-plugins/global-fonts/Newsreader/Newsreader-vietnamese.woff2
  mu-plugins/global-fonts/index.php
  mu-plugins/global-fonts/style.css
Labels: [Plugin] Global Fonts

#499 Update ToC styles for Developer redesign
  images/chevron-small.svg
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/src/block.json
  mu-plugins/blocks/sidebar-container/src/view.js
  mu-plugins/blocks/table-of-contents/index.php
  mu-plugins/blocks/table-of-contents/postcss/style.pcss
Labels: Redesign

#509 Add IBM Plex Sans to global fonts
  .gitignore
  fonts/IBMPlexSans-Regular.ttf
  fonts/IBMPlexSans-SemiBold.ttf
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-arrows.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-cyrillic-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-cyrillic.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-greek-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-greek.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-latin-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-latin.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-Regular-vietnamese.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-arrows.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-cyrillic-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-cyrillic.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-greek-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-greek.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-latin-ext.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-latin.woff2
  mu-plugins/global-fonts/IBMPlexSans/IBMPlexSans-SemiBold-vietnamese.woff2
  mu-plugins/global-fonts/style.css
Labels: [Type] Enhancement, [Plugin] Global Fonts, Redesign

#519 Local Navigation: Add custom height for local-navigation-bar
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
Labels: [Type] Enhancement, [Block] Header & Footer

#522 Fix broken TOC (sidebar) when main content is expanded then collapsed
  mu-plugins/blocks/sidebar-container/src/view.js
Labels: [Type] Bug, Redesign, [Block] Sidebar Container
