Repository WordPress/wporg-mu-plugins, pull requests merged in 2023-12, with the labels that each got.

#525 Remove extra space above ToC when scrolling down the page
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/src/view.js
  mu-plugins/blocks/table-of-contents/postcss/style.pcss
Labels: Redesign, [Block] Sidebar Container, priority: medium

#538 Google Map: Optimize dependencies
  mu-plugins/blocks/google-map/postcss/style.pcss
  mu-plugins/blocks/google-map/src/components/main.js
  mu-plugins/blocks/google-map/src/components/map.js
  mu-plugins/blocks/google-map/src/components/search.js
  mu-plugins/blocks/google-map/src/components/spinner.js
  mu-plugins/blocks/google-map/src/utilities/content.js
  mu-plugins/blocks/screenshot-preview/src/in-view.js
  package.json
  yarn.lock
Labels: [Block] Screenshot Preview, [Block] Google Map, Performance

#337 Try: Override callout shortcodes in favor of the notice block
  mu-plugins/blocks/notice/index.php
  mu-plugins/blocks/notice/postcss/style.pcss
Labels: [Block] Notice, Redesign

#548 Swap the info and tip icons in the Notice block
  mu-plugins/blocks/notice/src/icon/library/info.svg
  mu-plugins/blocks/notice/src/icon/library/tip.svg
Labels: [Type] Enhancement
