Repository WordPress/wporg-mu-plugins, pull requests merged in 2024-02, with the labels that each got.

#563 Query Filter: Update to match new Interactivity API format
  mu-plugins/blocks/query-filter/render.php
  mu-plugins/blocks/query-filter/src/block.json
  mu-plugins/blocks/query-filter/src/index.js
  mu-plugins/blocks/query-filter/src/style.pcss
  mu-plugins/blocks/query-filter/src/view.js
Labels: [Block] Query Filter

#568 Table of Contents: Update inline breakpoint to 1300px
  mu-plugins/blocks/sidebar-container/src/block.json
  mu-plugins/blocks/table-of-contents/postcss/style.pcss
Labels: [Block] Table of Contents, Redesign, [Block] Sidebar Container

#570 Navigation: Add support for submenu items in the hardcoded menus
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/navigation/index.php
Labels: [Block] Local Navigation Bar, [Block] Navigation (dynamic menu)

#577 Query Filter: Hide the modal/dropdown by default on Desktop
  mu-plugins/blocks/query-filter/src/style.pcss
Labels: [Type] Bug, [Block] Query Filter

#576 Set overflow scroll behaviour to auto
  mu-plugins/blocks/query-filter/src/style.pcss
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/site-breadcrumbs/postcss/style.pcss
Labels: [Block] Site Breadcrumbs, [Block] Sidebar Container

#573 Local Navigation: Improve style and behavior across screen sizes
  mu-plugins/blocks/local-navigation-bar/index.php
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/local-navigation-bar/src/view.js
Labels: [Block] Local Navigation Bar
