Repository WordPress/wporg-mu-plugins, pull requests merged in 2024-01, with the labels that each got.

#553 Update latest news card font styles
  mu-plugins/blocks/latest-news/latest-news.php
  mu-plugins/blocks/latest-news/postcss/style.pcss
Labels: [Block] Latest News, Redesign

#556 Table of Contents: Make whole header clickable on small and medium screens
  mu-plugins/blocks/table-of-contents/postcss/style.pcss
Labels: [Block] Table of Contents, Redesign

#560 Header: Shrink inline padding to match top-level text alignment
  mu-plugins/blocks/global-header-footer/postcss/header/menu.pcss
Labels: [Block] Header & Footer

#562 Tools: Update packages, use wp-scripts for build process
  .github/workflows/build.yml
  .nvmrc
  bin/build.js
  bin/watch.js
  mu-plugins/blocks/horizontal-slider/package.json
  mu-plugins/blocks/language-suggest/src/edit.js
  mu-plugins/blocks/language-suggest/src/save.js
  mu-plugins/blocks/latest-news/src/edit.js
  mu-plugins/blocks/sidebar-container/src/view.js
  package.json
  webpack.config.js
  yarn.lock
Labels: [Type] Developer Experience

#554 Make sidebar container scroll internally
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/index.php
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/src/block.json
  mu-plugins/blocks/sidebar-container/src/view.js
  mu-plugins/blocks/table-of-contents/src/block.json
  mu-plugins/blocks/table-of-contents/src/view.js
Labels: [Block] Table of Contents, Redesign, [Block] Sidebar Container
