Repository WordPress/wporg-mu-plugins, pull requests merged in 2024-07, with the labels that each got.

#634 Global header, Local navigation: Add aria label to the main, search, and local nav blocks
  mu-plugins/blocks/global-header-footer/header.php
  mu-plugins/blocks/local-navigation-bar/index.php
Labels: Accessibility, [Block] Header & Footer, [Block] Local Navigation Bar

#637 Site Breadcrumbs: Return empty string when breadcrumbs is an empty array
  mu-plugins/blocks/site-breadcrumbs/index.php
Labels: [Block] Site Breadcrumbs

#638 Gutenberg tweaks: Remove suffix from RTL styles
  mu-plugins/plugin-tweaks/gutenberg.php
Labels: i18n

#635 New block: Favorite button
  mu-plugins/blocks/favorite-button/index.php
  mu-plugins/blocks/favorite-button/render.php
  mu-plugins/blocks/favorite-button/src/block.json
  mu-plugins/blocks/favorite-button/src/index.js
  mu-plugins/blocks/favorite-button/src/style.scss
  mu-plugins/blocks/favorite-button/src/view.js
  mu-plugins/loader.php
Labels: [Block] New Block

#641 Local navigation block: Hide page title before collapsing menu
  mu-plugins/blocks/local-navigation-bar/postcss/style.pcss
  mu-plugins/blocks/local-navigation-bar/src/view.js
Labels: [Block] Local Navigation Bar
