Repository WordPress/wporg-mu-plugins, pull requests merged in 2024-06, with the labels that each got.

#620 Add tag name configurability to global footer block
  mu-plugins/blocks/global-header-footer/blocks.php
  mu-plugins/blocks/global-header-footer/src/footer/block.json
Labels: Accessibility, [Block] Header & Footer

#624 Maintain sidebar container compatibility with 3 column layout
  mu-plugins/blocks/sidebar-container/postcss/style.pcss
  mu-plugins/blocks/sidebar-container/src/view.js
Labels: [Block] Sidebar Container

#626 Get the locale of current site and send it to lang-guess
  mu-plugins/blocks/language-suggest/language-suggest.php
  mu-plugins/blocks/language-suggest/src/front.js
Labels: [Type] Enhancement, [Block] Language Suggestion, Redesign
